<h1>Listing items_lists</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Random</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items_lists.each do |items_list| %>
      <tr>
        <td><%= items_list.number %></td>
        <td><%= items_list.date %></td>
        <td><%= items_list.random %></td>
        <td><%= link_to 'Show', items_list %></td>
        <td><%= link_to 'Edit', edit_items_list_path(items_list) %></td>
        <td><%= link_to 'Destroy', items_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items list', new_items_list_path %>
