<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @items_list.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @items_list.date %>
</p>

<p>
  <strong>Random:</strong>
  <%= @items_list.random %>
</p>

<%= link_to 'Edit', edit_items_list_path(@items_list) %> |
<%= link_to 'Back', items_lists_path %>
